@import url(http://fonts.googleapis.com/css?family=Lato:300,700,300italic);

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Fix Google Maps canvas
 *
 * Wrap your Google Maps embed in a `.google-map-canvas` to reset Bootstrap's
 * global `box-sizing` changes. You may optionally need to reset the `max-width`
 * on images in case you've applied that anywhere else. (That shouldn't be as
 * necessary with Bootstrap 3 though as that behavior is relegated to the
 * `.img-responsive` class.)
 */

.google-map-canvas,
.google-map-canvas * { .box-sizing(content-box); }

html, body {
	background-color: #282C32;
	color: #e6e0d5;
}

.content {
	background-color: #282C32;
	padding-bottom: 45px;
}

html, body, #map {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
    height: 60%;
	width: 100%;
	margin: 0;
}

.google-map-canvas {
	color: #818181;
	float: left;
}

.location-arrow:before {
	content: "\f124";
}
/*
.back-btn {
	background: url('../images/back-arrow-300.png') no-repeat 0 0;
	background-size: 20px 20px;
	float: left;
	width: 20px;
	height: 20px;
}

.nav-btns {
	font-size: 1.1em;
}

.nav-btns:hover {
	text-decoration: none;
}*/

.users-location-marker {
	font-weight: bold;
}

header, header.bar {
	background-color: #505763;
    box-shadow: 2px 2px 10px #424C5E;
    border-bottom: 1px solid #4F5C72;
    color: #fff;
/*	float: left;
	padding: 5px;
	width: 100%;*/
}

.bar .title {
    color: #fff;
}

.header-column-left {
	float: left;
	width: 40%;
}

.header-column-center {
	float: left;
	margin-left: 6%;
	width: 40%;
}

.header-column-right {
	float: right;
}

.more-results {
	float: right;
	font-size: 0.9em;
	margin: 3px;
}

.more-results a {
	color: #2a6496;
	text-decoration: underline;
}

.more-results a:hover {
	color: #2982cf;
	text-decoration: none;
}

table {
	border-top: 1px solid #4B4B4B;
	margin-top: 2%;
}

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    color: #818181;
}
