@import url(http://fonts.googleapis.com/css?family=Lato:300,700,300italic);

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.google-map-canvas,
.google-map-canvas * { 
	.box-sizing(content-box); 
}

html, body {
	background-color: #282C32;
	color: #e6e0d5;
}

html, body, input, textarea, button, select {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.content {
	background-color: #282C32;
	padding-bottom: 45px;
}

header, header.bar {
	background-color: #3B414B;
    /*box-shadow: 2px 2px 10px #424C5E;
    border-bottom: 1px solid #1A2331;*/
    color: #fff;
}

.bar .title {
    color: #fff;
}

.header-column-left {
	float: left;
	width: 40%;
}

.header-column-center {
	float: left;
	margin-left: 6%;
	width: 40%;
}

.header-column-right {
	float: right;
}

/* ====== Map ====== */
#map {
	margin: 0;
	height: 55%;
	width: 100%;
}

.google-map-canvas {
	color: #818181;
	float: left;
}

.location-arrow:before {
	content: "\f124";
}

.map-marker:before {
	content: "\f041";
}

.icon-in-btn {
	margin-right: 5px;
}

.users-location-marker {
	font-weight: bold;
}

.more-results {
	background-color: #414D5F;
	border: 1px solid #3E5C75;
	color: #F0F0F0;
	font-weight: 300;
	margin-top: 35px;
	margin-bottom: 35px;
}

	.more-results:active {
		background-color: #2C3849;
	}

.coordinates {
	font-size: 10px;
}

.directions-link {
	position: absolute;
	right: 5px;
	top: 33px;
}

#location-data {
	float: left;
	width: 100%;
}

	#location-data > .table-view-cell {
		padding: 6px 65px 6px 15px;
	}

.name-name {
	color: #424242;
	font-weight: 100;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 5px;
}

.distance-cell {
	color: #444;
	font-size: 13px;
}

#trail1 {
	margin: 5%;
}

#trail1 p {
	color: #fff;
}

/* ====== Favorites ====== */
.favs-list {
	margin: 3%;
	padding: 1%;
	background-color: #999;
}

.favs-list ul li {
	color: #000;
}

.add-fav {
	cursor: pointer;
}

.star-filled { 
	display: none;
}

.add-fav:hover .star-filled {
	display : block;
}

.add-fav:hover .icon-star {
	display : none;
}




